<div>
  <form (ngSubmit)="onSubmit()" #form01>
    <div class="form-group">
      <label for="titulo">Qual o titulo do curso?</label>
      <input type="text" class="form-control" id="titulo" required [(ngModel)]="curso.titulo" name="titulo" #titulo="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="titulo.valid || titulo.pristine" class="alert alert-danger">
        Titulo é obrigatorio
      </div>
    </div>
    <div class="form-group">
      <label for="descricao">Qual a descricao do curso?</label>
      <input type="text" class="form-control" id="descricao" required [(ngModel)]="curso.descricao" name="descricao" #descricao="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="descricao.valid || descricao.pristine" class="alert alert-danger">
        Descricao é obrigatorio
      </div>
    </div>

    <div class="form-group">
      <label for="url">Qual o site do curso?</label>
      <input type="text" class="form-control" id="url" required [(ngModel)]="curso.url" name="url" #url="ngModel"
        [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
        Url é obrigatorio
      </div>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>

  <div *ngIf="curso.titulo && curso.descricao">
    <h3>Curso: {{curso.titulo}}</h3>
    <h5>Descricao: {{ curso.descricao }} </h5>
  </div>
</div>